<div class="catalogProduct">
    <a href="/products/<%= product.id %>"><img src="/images/productos/<%= product.imagen %>" alt="" class="img-prod"></a>
    <div class="articleInfo">
        <i class="heart"></i>
        <h4 class="ProductName"><%= product.nombre %></h4>
        <p class="productBrand"><%= product.marca %></p>
        <p class="productPrice">$<%= product.precio %></p>
    </div>
</div>