<div class="catalogProduct">
    <a href="/products/<%= categoryProduct.id %>"><img src="/images/productos/<%= categoryProduct.imagen %>" alt="" class="img-prod"></a>
    <div class="articleInfo">
        <i class="heart"></i>
        <h4 class="ProductName"><%= categoryProduct.nombre %></h4>
        <p class="productBrand"><%= categoryProduct.marca %></p>
        <p class="productPrice">$<%= categoryProduct.precio %></p>
    </div>
</div>