<div class="product-card carrousel-cell">
    <div class="imgContainer">
        <a href="/products/<%= product.id %>"><img src="/images/productos/<%= product.image[0].name %> " alt="" class="img-prod"></a>
    </div>
    <div class="articleInfo">
        <i class="heart"></i>
        <h4 class="ProductName"><%= product.name %> </h4>
        <p class="productBrand"><%= product.brand.name %></p>
        <p class="productPrice">$<%= product.price %></p>
    </div>
</div>
