<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productEdit.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Editar producto</title>
</head>

<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>

        <main class="productForm">

            <h1>Editar <%= product.name  %> </h1>
    
            <section class="edicionCreacion">
                <article class="caracteristicas">
                    <form method="POST" action="/products/<%= product.id %>?_method=PUT" enctype="multipart/form-data">
        
                        <div class="nombre">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="name" id="nombre" value="<%= product.name %>">
                        </div>
        
                        <div class="marca">
                            <label for="marca">Marca</label>
                            <select name="brandId" id="marca">
                                <% productBrands.forEach(brand => { %>
                                    <% if (brand.id == product.brandId) { %>
                                        <option value="<%= product.brandId %>" selected> <%= product.brand.name %> </option>
                                    <% }else{ %>
                                        <option value="<%= brand.id %>"> <%= brand.name %> </option>
                                   <% } %>
                                <% }) %>
                            </select> 
                        </div>

                        <div class="genero">
                            <label for="genero">Genero</label>
                            <select name="genderId" id="genero">
                                <% productGenders.forEach(gender => { %>
                                    <% if (gender.id == product.genderId) { %>
                                        <option value="<%= product.genderId %>" selected> <%= product.gender.type %> </option>
                                    <% }else{ %>
                                        <option value="<%= gender.id %>"> <%= gender.type %> </option>
                                   <% } %>
                                <% }) %>
                            </select>
                        </div>
        
                       <div class="formBoxes">
                            <div class="categoria">
                                <label for="categoria">Categoría</label>
                                <select name="categoryId" id="categoria">
                                    <% productCategories.forEach(category => { %>
                                        <% if (category.id == product.categoryId) { %>
                                            <option value="<%= product.categoryId %>" selected> <%= product.category.name %> </option>
                                        <% }else{ %>
                                            <option value="<%= category.id %>"> <%= category.name %> </option>
                                       <% } %>
                                    <% }) %> 
                                </select>
                            </div>
            
                            <div class="checkboxes">
                                <h3 class="colorTitle">Colores</h3>
    
                                <div class="checkboxBox">
                                    <label for="azul">Azul</label>
                                    <input type="checkbox" id="azul" name="colorId" value="azul" <%= product.colorId == 1 ? 'checked' : '' %> >
                                </div>
                                
                                <div class="checkboxBox">
                                    <label for="rojo">Rojo</label>
                                    <input type="checkbox" id="rojo" name="colorId" value="rojo" <%= product.colorId == 2 ? 'checked' : '' %>>
                                </div>
    
                                <div class="checkboxBox">
                                    <label for="negro">Negro</label>
                                    <input type="checkbox" id="negro" name="colorId" value="negro" <%= product.colorId == 3 ? 'checked' : '' %>>
                                </div>
    
                                <div class="checkboxBox">
                                    <label for="Verde">Verde</label>
                                    <input type="checkbox" id="verde" name="colorId" value="verde" <%= product.colorId == 4 ? 'checked' : '' %>>
                                </div>
                            </div>
            
                            <div class="checkboxes">
                                <h3 class="tallesTitle">Talles</h3>
    
                                <div class="checkboxBox">
                                    <label for="XL">XL</label>
                                    <input type="checkbox" id="XL" name="sizeId" value="XL" <%= product.sizeId == 1 ? 'checked' : '' %>>
                                </div>
                                
                                <div class="checkboxBox">
                                    <label for="L">L</label>
                                    <input type="checkbox" id="L" name="sizeId" value="L" <%= product.sizeId == 2 ? 'checked' : '' %>>
                                </div>
    
                                <div class="checkboxBox">
                                    <label for="M">M</label>
                                    <input type="checkbox" id="M" name="sizeId" value="M" <%= product.sizeId == 3 ? 'checked' : '' %>>
                                </div>
    
                                <div class="checkboxBox">
                                    <label for="S">S</label>
                                    <input type="checkbox" id="S" name="sizeId" value="S" <%= product.sizeId == 4 ? 'checked' : '' %>>
                                </div>
                            </div>
        
                       <div class="priceBoxes">
                            <div class="precio">
                                <label for="precio">Precio</label>
                                <input type="number" name="price" id="precio" value="<%= product.price %>">
                            </div>
            
                            <div class="descuento">
                                <label for="descuento">Descuento</label>
                                <input type="number" name="discount" id="descuento" value="<%= product.discount %>">
                            </div>
                       </div>
    
                       <div class="descripcion">
                            <label for="descripcion">Descripción</label>
                            <input type="text" name="description" id="descripcion" value="<%= product.description %>">
                        </div>
    
                        <div class="imagen">
                            <label for="imagen">Imagen</label>
                            <input type="file" name="image" id="imagen" accept=".jpg">
                            <input type="hidden" name="oldImagen" value="<%= productImages.name %>">
                        </div>

                        <div class="radios">

                            <div class="offerRadios">
                                <h3 class="radioTitle">En oferta?</h3>
    
                                <div class="radioContainer">
                                    <label for="true">SI</label>
                                    <input type="radio" name="offer" id="true" value="true" <%= product.offer == 1 ? 'checked' : '' %> >
                                </div>
        
                                <div class="radioContainer">
                                    <label for="false">NO</label>
                                    <input type="radio" name="offer" id="false" value="false" <%= product.offer == 2 ? 'checked' : '' %>>
                                </div>
                            </div>
    
                            <div class="temporadaRadios">
                                <h3 class="radioTitle">De temporada?</h3>
                                
                                <div class="radioContainer">
                                    <label for="true">SI</label>
                                    <input type="radio" name="season" id="true" value="true" <%= product.season == 1 ? 'checked' : '' %>>
                                </div>
        
                                <div class="radioContainer">
                                    <label for="false">NO</label>
                                    <input type="radio" name="season" id="false" value="false" <%= product.season == 2 ? 'checked' : '' %>>
                                </div>
                            </div>
    
                        </div>

                        <div class="stock">
                            <label for="stockMin">StockMin</label>
                            <input type="number" name="stockMin" id="stockMin" value="<%= product.stockMin %>">
                        </div>
    
                        <div class="stock">
                            <label for="stockMax">StockMax</label>
                            <input type="number" name="stockMax" id="stockMax" value="<%= product.stockMax %>">
                        </div>
                        
                        <div class="botones">
                            <button type="submit">Actualizar</button>
                        </div>
    
                    </form>

                </article>
                
            </section>
        </main>

        <%- include('../partials/footer') %>

    </body>

</html>