<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>

    <main class="profileMain">
        <section class="profileHead">
            <div class="profileHeadContainer">
                <h1 class="profileTitle">Hola <%= user.username %></h1>
            </div>
            <div class="profileHeadContainer">
                <img src="/images/users/<%= user.avatar.name %>" alt="avatar" class="profileAvatar">
            </div>
        </section>
        <section class="profileBody">
            <article class="profileDetails">
                <h2 class="detailsTitle">Detalles</h2>
                <div class="profileFormContainer">
                    <form method="POST" action='/editUser?_method=PUT' class="profileForm" enctype="multipart/form-data">
                        <div class="profileNames">
                            <p class="profileDetail"><%= user.firstName %></p>
                            <p class="profileDetail"><%= user.lastName %></p>
                        </div>
                        <p class="profileDetail"><%= user.email %></p>
                        <input type="text" name="username" class="profileInput profileDetail" value="<%= user.username %>">
                        <label for="address" class="inputLabel">Tu direccion de envío</label>
                        <input type="text" name="street" class="profileInput profileDetail" value="<%= user.address.street %>" id="address">
                        <input type="text" name="number" class="profileInput profileDetail" value="<%= user.address.number %>">
                        <label for="avatar" class="inputLabel">Editar avatar</label>
                        <input type="file" name="avatar" id="avatar" accept=".jpg" class="profileDetail" id="avatar">
                        <input type="hidden" name="oldAvatar" value="<%= user.avatar.name %>">
                        <input type="submit" class="profileDetail">
                    </form>
                </div>
            </article>
            <article class="profileOrders">
                <h2 class="ordersTitle">Tus compras</h2>
            </article>
        </section>
    </main>
    
    <%- include('../partials/footer') %>

</body>
</html>